:host ::ng-deep {
  .search {
    display: flex;

    .box{
      margin-left: 0.5rem;
      .p-inputtext{
        border-color: #F6F6F6;
      }

    }

    .p-button{
      background-color: #DBE5E1;
      border-color: #DBE5E1;
      color: black;
      padding: 1px;
      font-size: 13px;
    }
  }

  & .p-datatable {
    margin-top: 1.5rem;

    .p-datatable-thead {
      background-color: #F6F6F6;
    }
  }

  .p-radiobutton .p-radiobutton-box.p-highlight {
    background: #006D50;
    border-color: #006D50;
  }

}
