<div class="container">
  <p-toolbar class="button-list">
    <div class="p-toolbar-group-start">
      <ng-container [ngTemplateOutlet]="isDetail()?info:list"></ng-container>
    </div>
  </p-toolbar>
</div>

<ng-template #list>
  <p-button (click)="onToolbarClick(Action.new)" i18n>新增</p-button>
</ng-template>

<ng-template #info>
  <p-button (click)="onToolbarClick(Action.list)" i18n>查詢</p-button>
  <p-button (click)="onToolbarClick(Action.ditto)">Ditto</p-button>
  <p-button (click)="onToolbarClick(Action.new)" i18n>新增</p-button>
  <p-button (click)="onToolbarClick(Action.save)" i18n>儲存</p-button>
  <p-button (click)="onToolbarClick(Action.delete)" i18n>刪除</p-button>
</ng-template>

