<div class="container">
  <header>
    <his-app-store-editor-toolbar [tabViewIndex]="tabViewIndex" [action]="action"/>
  </header>
  <body>
    <ng-template #list>
      <his-app-store-editor-list  (rowItemClick)="onRowItemClick($event)" [appStores]="appStores"></his-app-store-editor-list>
    </ng-template>
    <ng-template #info>
      <his-app-store-editor-info [(appStore)]="appStore"></his-app-store-editor-info>
    </ng-template>
    <ng-container *ngTemplateOutlet="tabViewIndex == 0?list:info"></ng-container>
  </body>
</div>

<p-dialog header="Header" [(visible)]="dialogVisible" [style]="dialogStyle">
  <ng-template pTemplate="header" class="dialog-header">
    <div class="dialog-header"></div>
  </ng-template>
  <div>
    <span i18n>
      確認是否進行刪除的動作?
    </span>
  </div>
  <ng-template pTemplate="footer">
    <p-divider></p-divider>
    <button pButton pRipple (click)="onCancelClick()" i18n class="cancel" >取消</button>
    <button pButton pRipple (click)="onOkClick()" i18n class="p-button-text">確認</button>
  </ng-template>
</p-dialog>
