:host ::ng-deep {
  display: flex;
  justify-content: space-between;

  .left {
    padding: 2rem;
  }

  .content {
    padding: 2rem;
  }

  .p-dialog-draggable .p-dialog-header {
    background-color: #006D50;
    height: 5vh;

    .p-dialog-header-icon {
      color: white;
    }
  }

  .p-dialog .p-dialog-footer button {
    background-color: #006D50;
    color: white;
    padding: 2px;
    background-color: #006D50;

    &.cancel {
      background-color: #DBE5E1;
      border-color: #DBE5E1;
      color: #000;
    }
  }

  .p-dialog .p-dialog-content {
    margin-top: 1rem;
  }

  .p-checkbox {
    margin: 0.7rem;

    .p-checkbox-box.p-highlight {
      border-color: #006D50;
      background: #006D50;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    /* 根据需要调整九宫格的宽度 */
    margin: 0 auto;

    /* 居中显示九宫格 */
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 18px;

  }
}
